@import "tailwindcss";

body {
  background-color: #1F1F1F;
  background-image: url("./assets/grade.png"), url("./assets/Ellipse1.png"), url("./assets/Ellipse2.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 15vh 5vh, 100% 0px, 0 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-card {
  background-color: #D9D9D9;
}